body {
    background-color: rgb(204, 157, 248);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em; /* Use uma unidade relativa */
}

main {
    background-color: seashell;
    max-width: 100%; /* Ajusta o tamanho máximo para a largura da tela */
    margin: auto;
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); /* Correção de valor da sombra */
}

h1 {
    color: rgb(58, 0, 112);
}

h2 {
    color: rgb(58, 0, 112);
    font-size: 1em; /* Use uma unidade relativa */
}

img.lado {
    float: right;
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do contêiner pai */
}

a {
    text-decoration: none;
    font-weight: bold;
    font-size: 0.8em; /* Use uma unidade relativa */
    color: rgb(58, 0, 112);
}

a:hover {
    text-decoration: underline;
    color: rgb(26, 26, 255);
}

footer {
    text-align: center;
    font-weight: lighter;
    font-style: italic;
    font-size: 0.8em; /* Use uma unidade relativa */
    color: black;
}

iframe {
    max-width: 100%; /* Garante que o iframe não ultrapasse a largura do contêiner pai */
    margin: 0 auto; /* Centraliza o iframe */
}
